
  .wsite-button.wsite-button-large.wsite-button-normal,
.wsite-button.wsite-button-small.wsite-button-normal {
color: #fff !important;
display: inline-block;
border: none;
background: #000 !important;
}
